/*////////////////////////////////////////////root///////////////////////////////////////////////////////////////////////////////*/
:root{
      font-size:14px;
}
/*/////////////////////////////////////////////////container////////////////////////////////////////////////////////////////////////*/
@media screen and (min-width:1400px){
    .container{
        max-width:1320px ;
    }
}

@media screen and (max-width:1400px){
    .container{
        max-width:1140px ;
    }
}

@media screen and (max-width:1200px){
    .container{
        max-width:960px ;
    }
}

@media screen and (max-width:992px){
    .container{
        max-width:720px ;
    }
}

@media screen and (max-width:768px){
    .container{
        max-width:540px ;
    }
}

@media screen and (max-width:576px){
    .container{
        padding-inline: 15px;
    }
}

/*////////////////////////////////////////////////////navbar///////////////////////////////////////////////////////////////////////*/
@media screen and (max-width:1200px){
    .menu-icon{
        display:block;
    }

    .navbar ul{
        transform: translateX(100%);
        position: absolute;
        flex-direction: column;
        background-color: #fff;
        width: 350px;
        top: 0;
        right: 0;
        height: 100%;
        padding-inline: 10px;
        gap: 0;
    }

    .navbar ul li{
        padding-block:20px ;
    }

    .navbar ul li.close-icon{
        display: block;
    }

    .navbar div.mode{
        margin-left: auto;
        margin-right: 20px;
    }
}

/*/////////////////////////////////////////////////header//////////////////////////////////////////////////////////////////////////*/
@media screen and (min-width:1200px){
     header{
        min-height:100vh;
    }
}

@media screen and (max-width:992px){
    header .container{
        flex-direction: column-reverse;
        justify-content:center;
    }

    header .container > * {
        width:100%;
        text-align: center;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header .container .header-content{
        margin-top: 30px;
    }

    header .btn-main{
        border-radius: 100vh;
    }
}

@media screen and (max-width:400px){
     header .button-group{
    flex-direction: column;
    }
}

/*////////////////////////////////////////////////chefs///////////////////////////////////////////////////////////////////////////////*/
@media screen  and (max-width:992px) {
    .chefs-cards .card{
        width: calc(calc(100% - var(--gap)) / 2);
    }  
}

@media screen  and (max-width:786px) {
    .chefs-cards .card{
        width:100%;
    }  
}

/*//////////////////////////////////////////////////////////gallery/////////////////////////////////////////////////////////////*/
@media screen  and (max-width:1400px) {
    .gallery-imgs{
        height: 1025px;

    }  
}

@media screen  and (max-width:1200px) {
    .gallery-imgs{
        height:860px;

    }  
}

@media screen  and (max-width:992px) {
    .gallery-imgs{
        height:1400px;
    }  

    .gallery-imgs picture{
        width: calc(calc(100% - var(--gap)) / 2);
    }

    .pizza{
        order: 1;
    }

    .Crispy-Fried-Chicken{
        order: 6;
    }

    .burger{
        order: 2;
    }

    .Frittata{
        order: 4;
    }

    .Lyulya-kebab{
        order: 7;
    }

    .Beef-steaks{
        order: 5;
    }

    .Levitation-pizza{
        order: 3;
    }
}

@media screen  and (max-width:768px) {
    .gallery-imgs{
        height:auto;
    }
    
    .gallery-imgs picture{
        width:100%;
    }
}
/*///////////////////////////////////////contact/////////////////////////////////////////////////////////////////////////////////////*/
@media screen  and (max-width:992px) {
    .contact .input-group input{
        width:100%;
    }
}

@media screen  and (max-width:768px) {
    .contact .contact-means > div{
        width:100%;
    }
}
/*/////////////////////////////////////////////////footer//////////////////////////////////////////////////////////////////////////////*/
@media screen  and (max-width:1200px) {
    footer .container{
        --gap:20px;
        display: flex;
        gap:var(--gap);
    }
    
    footer :is(.about, .contact-details){
        width:calc(calc(100% - var(--gap) * 2) / 2);
        order: 1;
    }
    
    footer :is(.subscription){
        width:100%;
        order: 2;
    }
}

@media screen  and (max-width:768px) {
    footer :is(.about, .contact-details, .subscription){
        width:100%;
        order:0;
    }
}
    

